.root {
  font-family: 'Helvetica Neue';
  font-weight: 200;
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.name {
  display: inline-block;
  width: 200px;
  text-transform: capitalize;
}

.img {
  display: inline-block;
  width: 75px;
  height: auto;
}